*,
::before,
::after {
box-sizing: border-box;
}

html {
-moz-tab-size: 4;
-o-tab-size: 4;
tab-size: 4;
}

html {
line-height: 1.15; 
-webkit-text-size-adjust: 100%; 
}


body {
margin: 0;
}

body {
font-family:
system-ui,
-apple-system, 
'Segoe UI',
Roboto,
Helvetica,
Arial,
sans-serif,
'Apple Color Emoji',
'Segoe UI Emoji';
}


hr {
height: 0; 
color: inherit; 
}


abbr[title] {
-webkit-text-decoration: underline dotted;
text-decoration: underline dotted;
}

b,
strong {
font-weight: bolder;
}

code,
kbd,
samp,
pre {
font-family:
ui-monospace,
SFMono-Regular,
Consolas,
'Liberation Mono',
Menlo,
monospace; 
font-size: 1em; 
}

small {
font-size: 80%;
}

sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}
sub {
bottom: -0.25em;
}
sup {
top: -0.5em;
}


table {
text-indent: 0; 
border-color: inherit; 
}


button,
input,
optgroup,
select,
textarea {
font-family: inherit; 
font-size: 100%; 
line-height: 1.15; 
margin: 0; 
}

button,
select { 
text-transform: none;
}

button,
[type='button'] {
-webkit-appearance: button;
}

::-moz-focus-inner {
border-style: none;
padding: 0;
}



legend {
padding: 0;
}

progress {
vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
height: auto;
}


::-webkit-search-decoration {
-webkit-appearance: none;
}

::-webkit-file-upload-button {
-webkit-appearance: button; 
font: inherit; 
}


summary {
display: list-item;
}


blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
margin: 0;
}
button {
background-color: transparent;
background-image: none;
}
fieldset {
margin: 0;
padding: 0;
}
ol,
ul {
list-style: none;
margin: 0;
padding: 0;
}


html {
font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
line-height: 1.5; 
}

body {
font-family: inherit;
line-height: inherit;
}

*,
::before,
::after {
box-sizing: border-box; 
border-width: 0; 
border-style: solid; 
border-color: currentColor; 
}

hr {
border-top-width: 1px;
}

img {
border-style: solid;
}
textarea {
resize: vertical;
}
input::-moz-placeholder, textarea::-moz-placeholder {
opacity: 1;
color: #9ca3af;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
opacity: 1;
color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
opacity: 1;
color: #9ca3af;
}
button,
[role="button"] {
cursor: pointer;
}

table {
border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
font-weight: inherit;
}

a {
color: inherit;
text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
padding: 0;
line-height: inherit;
color: inherit;
}

pre,
code,
kbd,
samp {
font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
display: block; 
vertical-align: middle; 
}

img,
video {
max-width: 100%;
height: auto;
}

*, ::before, ::after{
--tw-border-opacity:1;
border-color:rgba(229, 231, 235, var(--tw-border-opacity));
}
.container{
width:100%;
}
@media (min-width: 640px){
.container{
max-width:640px;
}
}
@media (min-width: 768px){
.container{
max-width:768px;
}
}
@media (min-width: 1024px){
.container{
max-width:1024px;
}
}
@media (min-width: 1280px){
.container{
max-width:1280px;
}
}
@media (min-width: 1536px){
.container{
max-width:1536px;
}
}
.static{
position:static;
}
.fixed{
position:fixed;
}
.relative{
position:relative;
}
.z-10{
z-index:10;
}
.order-1{
order:1;
}
.order-2{
order:2;
}
.col-span-2{
grid-column:span 2 / span 2;
}
.mx-auto{
margin-left:auto;
margin-right:auto;
}
.inline-block{
display:inline-block;
}
.flex{
display:flex;
}
.table{
display:table;
}
.grid{
display:grid;
}
.h-11{
height:2.75rem;
}
.h-80{
height:20rem;
}
.h-full{
height:100%;
}
.h-screen{
height:100vh;
}
.min-h-2{
min-height:200px;
}
.min-h-screen{
min-height:100vh;
}
.w-14{
width:3.5rem;
}
.w-full{
width:100%;
}
.w-max{
width:-webkit-max-content;
width:-moz-max-content;
width:max-content;
}
.max-w-sm{
max-width:24rem;
}
.max-w-lg{
max-width:32rem;
}
.transform-gpu{
--tw-translate-x:0;
--tw-translate-y:0;
--tw-rotate:0;
--tw-skew-x:0;
--tw-skew-y:0;
--tw-scale-x:1;
--tw-scale-y:1;
transform:translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-90{
--tw-rotate:90deg;
}
@-webkit-keyframes spin{
to{
transform:rotate(360deg);
}
}
@keyframes spin{
to{
transform:rotate(360deg);
}
}
@-webkit-keyframes ping{
75%, 100%{
transform:scale(2);
opacity:0;
}
}
@keyframes ping{
75%, 100%{
transform:scale(2);
opacity:0;
}
}
@-webkit-keyframes pulse{
50%{
opacity:.5;
}
}
@keyframes pulse{
50%{
opacity:.5;
}
}
@-webkit-keyframes bounce{
0%, 100%{
transform:translateY(-25%);
-webkit-animation-timing-function:cubic-bezier(0.8,0,1,1);
animation-timing-function:cubic-bezier(0.8,0,1,1);
}
50%{
transform:none;
-webkit-animation-timing-function:cubic-bezier(0,0,0.2,1);
animation-timing-function:cubic-bezier(0,0,0.2,1);
}
}
@keyframes bounce{
0%, 100%{
transform:translateY(-25%);
-webkit-animation-timing-function:cubic-bezier(0.8,0,1,1);
animation-timing-function:cubic-bezier(0.8,0,1,1);
}
50%{
transform:none;
-webkit-animation-timing-function:cubic-bezier(0,0,0.2,1);
animation-timing-function:cubic-bezier(0,0,0.2,1);
}
}
.grid-flow-row{
grid-auto-flow:row;
}
.grid-flow-col{
grid-auto-flow:column;
}
.grid-cols-1{
grid-template-columns:repeat(1, minmax(0, 1fr));
}
.grid-cols-2{
grid-template-columns:repeat(2, minmax(0, 1fr));
}
.grid-rows-3{
grid-template-rows:repeat(3, minmax(0, 1fr));
}
.flex-col{
flex-direction:column;
}
.flex-wrap{
flex-wrap:wrap;
}
.place-items-center{
place-items:center;
}
.items-center{
align-items:center;
}
.justify-center{
justify-content:center;
}
.justify-between{
justify-content:space-between;
}
.gap-4{
gap:1rem;
}
.gap-10{
gap:2.5rem;
}
.gap-x-2{
-moz-column-gap:0.5rem;
column-gap:0.5rem;
}
.gap-x-4{
-moz-column-gap:1rem;
column-gap:1rem;
}
.gap-y-3{
row-gap:0.75rem;
}
.gap-y-5{
row-gap:1.25rem;
}
.overflow-hidden{
overflow:hidden;
}
.truncate{
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
}
.rounded-md{
border-radius:0.375rem;
}
.rounded-lg{
border-radius:0.5rem;
}
.border{
border-width:1px;
}
.border-black{
--tw-border-opacity:1;
border-color:rgba(0, 0, 0, var(--tw-border-opacity));
}
.border-white{
--tw-border-opacity:1;
border-color:rgba(255, 255, 255, var(--tw-border-opacity));
}
.bg-transparent{
background-color:transparent;
}
.bg-black{
--tw-bg-opacity:1;
background-color:rgba(0, 0, 0, var(--tw-bg-opacity));
}
.bg-white{
--tw-bg-opacity:1;
background-color:rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-red-300{
--tw-bg-opacity:1;
background-color:rgba(252, 165, 165, var(--tw-bg-opacity));
}
.bg-yellow-100{
--tw-bg-opacity:1;
background-color:rgba(254, 243, 199, var(--tw-bg-opacity));
}
.bg-yellow-200{
--tw-bg-opacity:1;
background-color:rgba(253, 230, 138, var(--tw-bg-opacity));
}
.bg-yellow-300{
--tw-bg-opacity:1;
background-color:rgba(252, 211, 77, var(--tw-bg-opacity));
}
.bg-green-300{
--tw-bg-opacity:1;
background-color:rgba(110, 231, 183, var(--tw-bg-opacity));
}
.bg-blue-300{
--tw-bg-opacity:1;
background-color:rgba(147, 197, 253, var(--tw-bg-opacity));
}
.bg-purple-300{
--tw-bg-opacity:1;
background-color:rgba(196, 181, 253, var(--tw-bg-opacity));
}
.bg-pink-300{
--tw-bg-opacity:1;
background-color:rgba(249, 168, 212, var(--tw-bg-opacity));
}
.bg-cover{
background-size:cover;
}
.bg-center{
background-position:center;
}
.px-4{
padding-left:1rem;
padding-right:1rem;
}
.px-10{
padding-left:2.5rem;
padding-right:2.5rem;
}
.py-2{
padding-top:0.5rem;
padding-bottom:0.5rem;
}
.py-4{
padding-top:1rem;
padding-bottom:1rem;
}
.py-10{
padding-top:2.5rem;
padding-bottom:2.5rem;
}
.py-12{
padding-top:3rem;
padding-bottom:3rem;
}
.py-20{
padding-top:5rem;
padding-bottom:5rem;
}
.pt-2{
padding-top:0.5rem;
}
.pt-5{
padding-top:1.25rem;
}
.pr-1{
padding-right:0.25rem;
}
.pb-5{
padding-bottom:1.25rem;
}
.pb-12{
padding-bottom:3rem;
}
.pl-14{
padding-left:3.5rem;
}
.font-inter{
font-family:Inter, sans-serif;
}
.text-lg{
font-size:1.125rem;
line-height:1.75rem;
}
.text-2xl{
font-size:1.5rem;
line-height:2rem;
}
.text-5xl{
font-size:3rem;
line-height:1;
}
.font-light{
font-weight:300;
}
.font-normal{
font-weight:400;
}
.font-semibold{
font-weight:600;
}
.font-bold{
font-weight:700;
}
.tracking-wider{
letter-spacing:0.05em;
}
.text-black{
--tw-text-opacity:1;
color:rgba(0, 0, 0, var(--tw-text-opacity));
}
.text-white{
--tw-text-opacity:1;
color:rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-gray-200{
--tw-text-opacity:1;
color:rgba(229, 231, 235, var(--tw-text-opacity));
}
.group:hover .group-hover\:text-white{
--tw-text-opacity:1;
color:rgba(255, 255, 255, var(--tw-text-opacity));
}
.placeholder-black::-moz-placeholder{
--tw-placeholder-opacity:1;
color:rgba(0, 0, 0, var(--tw-placeholder-opacity));
}
.placeholder-black:-ms-input-placeholder{
--tw-placeholder-opacity:1;
color:rgba(0, 0, 0, var(--tw-placeholder-opacity));
}
.placeholder-black::placeholder{
--tw-placeholder-opacity:1;
color:rgba(0, 0, 0, var(--tw-placeholder-opacity));
}
*, ::before, ::after{
--tw-shadow:0 0 #0000;
}
.shadow-lg{
--tw-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none{
outline:2px solid transparent;
outline-offset:2px;
}
*, ::before, ::after{
--tw-ring-inset:var(--tw-empty, );
--tw-ring-offset-width:0px;
--tw-ring-offset-color:#fff;
--tw-ring-color:rgba(59, 130, 246, 0.5);
--tw-ring-offset-shadow:0 0 #0000;
--tw-ring-shadow:0 0 #0000;
}
.drop-shadow-lg{
--tw-drop-shadow:drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
}
.transition-all{
transition-property:all;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
transition-duration:150ms;
}
html{
scroll-behavior:smooth
}
.btn{
--tw-translate-x:0;
--tw-translate-y:0;
--tw-rotate:0;
--tw-skew-x:0;
--tw-skew-y:0;
--tw-scale-x:1;
--tw-scale-y:1;
transform:translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.btn:hover{
--tw-scale-x:1.05;
--tw-scale-y:1.05;
}
.btn{
border-radius:0.375rem;
padding-left:0.5rem;
padding-right:0.5rem;
padding-top:0.25rem;
padding-bottom:0.25rem;
transition-property:all;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
transition-duration:150ms;
}
@media (min-width: 1024px){
.btn{
padding-left:1rem;
padding-right:1rem;
}
}
.skillbar{
border-radius:0.375rem;
border-width:1px;
--tw-border-opacity:1;
border-color:rgba(0, 0, 0, var(--tw-border-opacity));
padding-left:0.75rem;
padding-right:0.75rem;
padding-top:0.25rem;
padding-bottom:0.25rem
}
.text-stroke{
text-shadow:1px 1px 0 #000,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000
}
a.active{
border-radius:0.375rem;
padding-left:0.5rem;
padding-right:0.5rem;
font-weight:500;
transition-property:all;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
transition-duration:150ms
}
.bg-sidebar-black a.active{
--tw-bg-opacity:1;
background-color:rgba(252, 211, 77, var(--tw-bg-opacity));
--tw-text-opacity:1;
color:rgba(0, 0, 0, var(--tw-text-opacity))
}
.bg-sidebar-yellow a.active{
--tw-bg-opacity:1;
background-color:rgba(0, 0, 0, var(--tw-bg-opacity));
--tw-text-opacity:1;
color:rgba(255, 255, 255, var(--tw-text-opacity))
}
.bg-sidebar-yellow{
--tw-bg-opacity:1;
background-color:rgba(252, 211, 77, var(--tw-bg-opacity));
--tw-text-opacity:1;
color:rgba(0, 0, 0, var(--tw-text-opacity))
}
.bg-sidebar-black{
--tw-bg-opacity:1;
background-color:rgba(0, 0, 0, var(--tw-bg-opacity));
--tw-text-opacity:1;
color:rgba(255, 255, 255, var(--tw-text-opacity))
}
.list-link a, .social-media a{
--tw-translate-x:0;
--tw-translate-y:0;
--tw-rotate:0;
--tw-skew-x:0;
--tw-skew-y:0;
--tw-scale-x:1;
--tw-scale-y:1;
transform:translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.list-link a:hover, .social-media a:hover{
--tw-scale-x:1.1;
--tw-scale-y:1.1;
}
.list-link a, .social-media a{
transition-property:all;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
transition-duration:150ms;
}
@media (min-width: 640px){
.sm\:grid-flow-row{
grid-auto-flow:row;
}
}
@media (min-width: 768px){
}
@media (min-width: 1024px){
.lg\:order-1{
order:1;
}
.lg\:order-2{
order:2;
}
.lg\:h-3\/4{
height:75%;
}
.lg\:h-screen{
height:100vh;
}
.lg\:grid-cols-2{
grid-template-columns:repeat(2, minmax(0, 1fr));
}
.lg\:flex-row{
flex-direction:row;
}
.lg\:px-10{
padding-left:2.5rem;
padding-right:2.5rem;
}
.lg\:py-0{
padding-top:0px;
padding-bottom:0px;
}
.lg\:pt-0{
padding-top:0px;
}
.lg\:pr-5{
padding-right:1.25rem;
}
.lg\:pb-0{
padding-bottom:0px;
}
.lg\:pl-40{
padding-left:10rem;
}
.lg\:text-xl{
font-size:1.25rem;
line-height:1.75rem;
}
.lg\:text-6xl{
font-size:3.75rem;
line-height:1;
}
}
@media (min-width: 1280px){
}
@media (min-width: 1536px){
}

:host,:root{
--fa-font-solid:normal 900 1em/1 "Font Awesome 6 Solid";
--fa-font-regular:normal 400 1em/1 "Font Awesome 6 Regular";
--fa-font-light:normal 300 1em/1 "Font Awesome 6 Light";
--fa-font-thin:normal 100 1em/1 "Font Awesome 6 Thin";
--fa-font-duotone:normal 900 1em/1 "Font Awesome 6 Duotone";
--fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands"
}
svg:not(:host).svg-inline--fa,svg:not(:root).svg-inline--fa{
overflow:visible;
box-sizing:content-box
}
.svg-inline--fa{
display:inline-block;
display:var(--fa-display,inline-block);
height:1em;
overflow:visible;
vertical-align:-.125em
}
.svg-inline--fa.fa-2xs{
vertical-align:.1em
}
.svg-inline--fa.fa-xs{
vertical-align:0
}
.svg-inline--fa.fa-sm{
vertical-align:-.07143em
}
.svg-inline--fa.fa-lg{
vertical-align:-.2em
}
.svg-inline--fa.fa-xl{
vertical-align:-.25em
}
.svg-inline--fa.fa-2xl{
vertical-align:-.3125em
}
.svg-inline--fa.fa-pull-left{
margin-right:.3em;
margin-right:var(--fa-pull-margin,.3em);
width:auto
}
.svg-inline--fa.fa-pull-right{
margin-left:.3em;
margin-left:var(--fa-pull-margin,.3em);
width:auto
}
.svg-inline--fa.fa-li{
width:2em;
width:var(--fa-li-width,2em);
top:.25em
}
.svg-inline--fa.fa-fw{
width:1.25em;
width:var(--fa-fw-width,1.25em)
}
.fa-layers svg.svg-inline--fa{
bottom:0;
left:0;
margin:auto;
position:absolute;
right:0;
top:0
}
.fa-layers-counter,.fa-layers-text{
display:inline-block;
position:absolute;
text-align:center
}
.fa-layers{
display:inline-block;
height:1em;
position:relative;
text-align:center;
vertical-align:-.125em;
width:1em
}
.fa-layers svg.svg-inline--fa{
transform-origin:center center
}
.fa-layers-text{
left:50%;
top:50%;
transform:translate(-50%,-50%);
transform-origin:center center
}
.fa-layers-counter{
background-color:#ff253a;
background-color:var(--fa-counter-background-color,#ff253a);
border-radius:1em;
border-radius:var(--fa-counter-border-radius,1em);
box-sizing:border-box;
color:#fff;
color:var(--fa-inverse,#fff);
line-height:1;
line-height:var(--fa-counter-line-height,1);
max-width:5em;
max-width:var(--fa-counter-max-width,5em);
min-width:1.5em;
min-width:var(--fa-counter-min-width,1.5em);
overflow:hidden;
padding:.25em .5em;
padding:var(--fa-counter-padding,.25em .5em);
right:0;
right:var(--fa-right,0);
text-overflow:ellipsis;
top:0;
top:var(--fa-top,0);
transform:scale(.25);
transform:scale(var(--fa-counter-scale,.25));
transform-origin:top right
}
.fa-layers-bottom-right{
bottom:0;
bottom:var(--fa-bottom,0);
right:0;
right:var(--fa-right,0);
top:auto;
transform:scale(.25);
transform:scale(var(--fa-layers-scale,.25));
transform-origin:bottom right
}
.fa-layers-bottom-left{
bottom:0;
bottom:var(--fa-bottom,0);
left:0;
left:var(--fa-left,0);
right:auto;
top:auto;
transform:scale(.25);
transform:scale(var(--fa-layers-scale,.25));
transform-origin:bottom left
}
.fa-layers-top-right{
top:0;
top:var(--fa-top,0);
right:0;
right:var(--fa-right,0);
transform:scale(.25);
transform:scale(var(--fa-layers-scale,.25));
transform-origin:top right
}
.fa-layers-top-left{
left:0;
left:var(--fa-left,0);
right:auto;
top:0;
top:var(--fa-top,0);
transform:scale(.25);
transform:scale(var(--fa-layers-scale,.25));
transform-origin:top left
}
.fa-1x{
font-size:1em
}
.fa-2x{
font-size:2em
}
.fa-3x{
font-size:3em
}
.fa-4x{
font-size:4em
}
.fa-5x{
font-size:5em
}
.fa-6x{
font-size:6em
}
.fa-7x{
font-size:7em
}
.fa-8x{
font-size:8em
}
.fa-9x{
font-size:9em
}
.fa-10x{
font-size:10em
}
.fa-2xs{
font-size:.625em;
line-height:.1em;
vertical-align:.225em
}
.fa-xs{
font-size:.75em;
line-height:.08333em;
vertical-align:.125em
}
.fa-sm{
font-size:.875em;
line-height:.07143em;
vertical-align:.05357em
}
.fa-lg{
font-size:1.25em;
line-height:.05em;
vertical-align:-.075em
}
.fa-xl{
font-size:1.5em;
line-height:.04167em;
vertical-align:-.125em
}
.fa-2xl{
font-size:2em;
line-height:.03125em;
vertical-align:-.1875em
}
.fa-fw{
text-align:center;
width:1.25em
}
.fa-ul{
list-style-type:none;
margin-left:2.5em;
margin-left:var(--fa-li-margin,2.5em);
padding-left:0
}
.fa-ul>li{
position:relative
}
.fa-li{
left:calc(2em*-1);
left:calc(var(--fa-li-width, 2em)*-1);
position:absolute;
text-align:center;
width:2em;
width:var(--fa-li-width,2em);
line-height:inherit
}
.fa-border{
border-radius:.1em;
border-radius:var(--fa-border-radius,.1em);
border:.08em solid #eee;
border:var(--fa-border-width,.08em) var(--fa-border-style,solid) var(--fa-border-color,#eee);
padding:.2em .25em .15em;
padding:var(--fa-border-padding,.2em .25em .15em)
}
.fa-pull-left{
float:left;
margin-right:.3em;
margin-right:var(--fa-pull-margin,.3em)
}
.fa-pull-right{
float:right;
margin-left:.3em;
margin-left:var(--fa-pull-margin,.3em)
}
.fa-beat{
-webkit-animation-name:fa-beat;
animation-name:fa-beat;
-webkit-animation-delay:0;
-webkit-animation-delay:var(--fa-animation-delay,0);
animation-delay:0;
animation-delay:var(--fa-animation-delay,0);
-webkit-animation-direction:normal;
-webkit-animation-direction:var(--fa-animation-direction,normal);
animation-direction:normal;
animation-direction:var(--fa-animation-direction,normal);
-webkit-animation-duration:1s;
-webkit-animation-duration:var(--fa-animation-duration,1s);
animation-duration:1s;
animation-duration:var(--fa-animation-duration,1s);
-webkit-animation-iteration-count:infinite;
-webkit-animation-iteration-count:var(--fa-animation-iteration-count,infinite);
animation-iteration-count:infinite;
animation-iteration-count:var(--fa-animation-iteration-count,infinite);
-webkit-animation-timing-function:ease-in-out;
-webkit-animation-timing-function:var(--fa-animation-timing,ease-in-out);
animation-timing-function:ease-in-out;
animation-timing-function:var(--fa-animation-timing,ease-in-out)
}
.fa-bounce{
-webkit-animation-name:fa-bounce;
animation-name:fa-bounce;
-webkit-animation-delay:0;
-webkit-animation-delay:var(--fa-animation-delay,0);
animation-delay:0;
animation-delay:var(--fa-animation-delay,0);
-webkit-animation-direction:normal;
-webkit-animation-direction:var(--fa-animation-direction,normal);
animation-direction:normal;
animation-direction:var(--fa-animation-direction,normal);
-webkit-animation-duration:1s;
-webkit-animation-duration:var(--fa-animation-duration,1s);
animation-duration:1s;
animation-duration:var(--fa-animation-duration,1s);
-webkit-animation-iteration-count:infinite;
-webkit-animation-iteration-count:var(--fa-animation-iteration-count,infinite);
animation-iteration-count:infinite;
animation-iteration-count:var(--fa-animation-iteration-count,infinite);
-webkit-animation-timing-function:cubic-bezier(.28,.84,.42,1);
-webkit-animation-timing-function:var(--fa-animation-timing,cubic-bezier(.28,.84,.42,1));
animation-timing-function:cubic-bezier(.28,.84,.42,1);
animation-timing-function:var(--fa-animation-timing,cubic-bezier(.28,.84,.42,1))
}
.fa-fade{
-webkit-animation-name:fa-fade;
animation-name:fa-fade;
-webkit-animation-iteration-count:infinite;
-webkit-animation-iteration-count:var(--fa-animation-iteration-count,infinite);
animation-iteration-count:infinite;
animation-iteration-count:var(--fa-animation-iteration-count,infinite);
-webkit-animation-timing-function:cubic-bezier(.4,0,.6,1);
-webkit-animation-timing-function:var(--fa-animation-timing,cubic-bezier(.4,0,.6,1));
animation-timing-function:cubic-bezier(.4,0,.6,1);
animation-timing-function:var(--fa-animation-timing,cubic-bezier(.4,0,.6,1))
}
.fa-beat-fade,.fa-fade{
-webkit-animation-delay:0;
-webkit-animation-delay:var(--fa-animation-delay,0);
animation-delay:0;
animation-delay:var(--fa-animation-delay,0);
-webkit-animation-direction:normal;
-webkit-animation-direction:var(--fa-animation-direction,normal);
animation-direction:normal;
animation-direction:var(--fa-animation-direction,normal);
-webkit-animation-duration:1s;
-webkit-animation-duration:var(--fa-animation-duration,1s);
animation-duration:1s;
animation-duration:var(--fa-animation-duration,1s)
}
.fa-beat-fade{
-webkit-animation-name:fa-beat-fade;
animation-name:fa-beat-fade;
-webkit-animation-iteration-count:infinite;
-webkit-animation-iteration-count:var(--fa-animation-iteration-count,infinite);
animation-iteration-count:infinite;
animation-iteration-count:var(--fa-animation-iteration-count,infinite);
-webkit-animation-timing-function:cubic-bezier(.4,0,.6,1);
-webkit-animation-timing-function:var(--fa-animation-timing,cubic-bezier(.4,0,.6,1));
animation-timing-function:cubic-bezier(.4,0,.6,1);
animation-timing-function:var(--fa-animation-timing,cubic-bezier(.4,0,.6,1))
}
.fa-flip{
-webkit-animation-name:fa-flip;
animation-name:fa-flip;
-webkit-animation-delay:0;
-webkit-animation-delay:var(--fa-animation-delay,0);
animation-delay:0;
animation-delay:var(--fa-animation-delay,0);
-webkit-animation-direction:normal;
-webkit-animation-direction:var(--fa-animation-direction,normal);
animation-direction:normal;
animation-direction:var(--fa-animation-direction,normal);
-webkit-animation-duration:1s;
-webkit-animation-duration:var(--fa-animation-duration,1s);
animation-duration:1s;
animation-duration:var(--fa-animation-duration,1s);
-webkit-animation-iteration-count:infinite;
-webkit-animation-iteration-count:var(--fa-animation-iteration-count,infinite);
animation-iteration-count:infinite;
animation-iteration-count:var(--fa-animation-iteration-count,infinite);
-webkit-animation-timing-function:ease-in-out;
-webkit-animation-timing-function:var(--fa-animation-timing,ease-in-out);
animation-timing-function:ease-in-out;
animation-timing-function:var(--fa-animation-timing,ease-in-out)
}
.fa-shake{
-webkit-animation-name:fa-shake;
animation-name:fa-shake;
-webkit-animation-duration:1s;
-webkit-animation-duration:var(--fa-animation-duration,1s);
animation-duration:1s;
animation-duration:var(--fa-animation-duration,1s);
-webkit-animation-iteration-count:infinite;
-webkit-animation-iteration-count:var(--fa-animation-iteration-count,infinite);
animation-iteration-count:infinite;
animation-iteration-count:var(--fa-animation-iteration-count,infinite);
-webkit-animation-timing-function:linear;
-webkit-animation-timing-function:var(--fa-animation-timing,linear);
animation-timing-function:linear;
animation-timing-function:var(--fa-animation-timing,linear)
}
.fa-shake,.fa-spin{
-webkit-animation-delay:0;
-webkit-animation-delay:var(--fa-animation-delay,0);
animation-delay:0;
animation-delay:var(--fa-animation-delay,0);
-webkit-animation-direction:normal;
-webkit-animation-direction:var(--fa-animation-direction,normal);
animation-direction:normal;
animation-direction:var(--fa-animation-direction,normal)
}
.fa-spin{
-webkit-animation-name:fa-spin;
animation-name:fa-spin;
-webkit-animation-duration:2s;
-webkit-animation-duration:var(--fa-animation-duration,2s);
animation-duration:2s;
animation-duration:var(--fa-animation-duration,2s);
-webkit-animation-iteration-count:infinite;
-webkit-animation-iteration-count:var(--fa-animation-iteration-count,infinite);
animation-iteration-count:infinite;
animation-iteration-count:var(--fa-animation-iteration-count,infinite);
-webkit-animation-timing-function:linear;
-webkit-animation-timing-function:var(--fa-animation-timing,linear);
animation-timing-function:linear;
animation-timing-function:var(--fa-animation-timing,linear)
}
.fa-spin-reverse{
--fa-animation-direction:reverse
}
.fa-pulse,.fa-spin-pulse{
-webkit-animation-name:fa-spin;
animation-name:fa-spin;
-webkit-animation-direction:normal;
-webkit-animation-direction:var(--fa-animation-direction,normal);
animation-direction:normal;
animation-direction:var(--fa-animation-direction,normal);
-webkit-animation-duration:1s;
-webkit-animation-duration:var(--fa-animation-duration,1s);
animation-duration:1s;
animation-duration:var(--fa-animation-duration,1s);
-webkit-animation-iteration-count:infinite;
-webkit-animation-iteration-count:var(--fa-animation-iteration-count,infinite);
animation-iteration-count:infinite;
animation-iteration-count:var(--fa-animation-iteration-count,infinite);
-webkit-animation-timing-function:steps(8);
-webkit-animation-timing-function:var(--fa-animation-timing,steps(8));
animation-timing-function:steps(8);
animation-timing-function:var(--fa-animation-timing,steps(8))
}
@media (prefers-reduced-motion:reduce){
.fa-beat,.fa-beat-fade,.fa-bounce,.fa-fade,.fa-flip,.fa-pulse,.fa-shake,.fa-spin,.fa-spin-pulse{
-webkit-animation-delay:-1ms;
animation-delay:-1ms;
-webkit-animation-duration:1ms;
animation-duration:1ms;
-webkit-animation-iteration-count:1;
animation-iteration-count:1;
transition-delay:0s;
transition-duration:0s
}
}
@-webkit-keyframes fa-beat{
0%,90%{
transform:scale(1)
}
45%{
transform:scale(1.25);
transform:scale(var(--fa-beat-scale,1.25))
}
}
@keyframes fa-beat{
0%,90%{
transform:scale(1)
}
45%{
transform:scale(1.25);
transform:scale(var(--fa-beat-scale,1.25))
}
}
@-webkit-keyframes fa-bounce{
0%{
transform:scale(1) translateY(0)
}
10%{
transform:scale(1.1,.9) translateY(0);
transform:scale(var(--fa-bounce-start-scale-x,1.1),var(--fa-bounce-start-scale-y,.9)) translateY(0)
}
30%{
transform:scale(.9,1.1) translateY(-.5em);
transform:scale(var(--fa-bounce-jump-scale-x,.9),var(--fa-bounce-jump-scale-y,1.1)) translateY(var(--fa-bounce-height,-.5em))
}
50%{
transform:scale(1.05,.95) translateY(0);
transform:scale(var(--fa-bounce-land-scale-x,1.05),var(--fa-bounce-land-scale-y,.95)) translateY(0)
}
57%{
transform:scale(1) translateY(-.125em);
transform:scale(1) translateY(var(--fa-bounce-rebound,-.125em))
}
64%{
transform:scale(1) translateY(0)
}
to{
transform:scale(1) translateY(0)
}
}
@keyframes fa-bounce{
0%{
transform:scale(1) translateY(0)
}
10%{
transform:scale(1.1,.9) translateY(0);
transform:scale(var(--fa-bounce-start-scale-x,1.1),var(--fa-bounce-start-scale-y,.9)) translateY(0)
}
30%{
transform:scale(.9,1.1) translateY(-.5em);
transform:scale(var(--fa-bounce-jump-scale-x,.9),var(--fa-bounce-jump-scale-y,1.1)) translateY(var(--fa-bounce-height,-.5em))
}
50%{
transform:scale(1.05,.95) translateY(0);
transform:scale(var(--fa-bounce-land-scale-x,1.05),var(--fa-bounce-land-scale-y,.95)) translateY(0)
}
57%{
transform:scale(1) translateY(-.125em);
transform:scale(1) translateY(var(--fa-bounce-rebound,-.125em))
}
64%{
transform:scale(1) translateY(0)
}
to{
transform:scale(1) translateY(0)
}
}
@-webkit-keyframes fa-fade{
50%{
opacity:.4;
opacity:var(--fa-fade-opacity,.4)
}
}
@keyframes fa-fade{
50%{
opacity:.4;
opacity:var(--fa-fade-opacity,.4)
}
}
@-webkit-keyframes fa-beat-fade{
0%,to{
opacity:.4;
opacity:var(--fa-beat-fade-opacity,.4);
transform:scale(1)
}
50%{
opacity:1;
transform:scale(1.125);
transform:scale(var(--fa-beat-fade-scale,1.125))
}
}
@keyframes fa-beat-fade{
0%,to{
opacity:.4;
opacity:var(--fa-beat-fade-opacity,.4);
transform:scale(1)
}
50%{
opacity:1;
transform:scale(1.125);
transform:scale(var(--fa-beat-fade-scale,1.125))
}
}
@-webkit-keyframes fa-flip{
50%{
transform:rotate3d(0,1,0,-180deg);
transform:rotate3d(var(--fa-flip-x,0),var(--fa-flip-y,1),var(--fa-flip-z,0),var(--fa-flip-angle,-180deg))
}
}
@keyframes fa-flip{
50%{
transform:rotate3d(0,1,0,-180deg);
transform:rotate3d(var(--fa-flip-x,0),var(--fa-flip-y,1),var(--fa-flip-z,0),var(--fa-flip-angle,-180deg))
}
}
@-webkit-keyframes fa-shake{
0%{
transform:rotate(-15deg)
}
4%{
transform:rotate(15deg)
}
8%,24%{
transform:rotate(-18deg)
}
12%,28%{
transform:rotate(18deg)
}
16%{
transform:rotate(-22deg)
}
20%{
transform:rotate(22deg)
}
32%{
transform:rotate(-12deg)
}
36%{
transform:rotate(12deg)
}
40%,to{
transform:rotate(0deg)
}
}
@keyframes fa-shake{
0%{
transform:rotate(-15deg)
}
4%{
transform:rotate(15deg)
}
8%,24%{
transform:rotate(-18deg)
}
12%,28%{
transform:rotate(18deg)
}
16%{
transform:rotate(-22deg)
}
20%{
transform:rotate(22deg)
}
32%{
transform:rotate(-12deg)
}
36%{
transform:rotate(12deg)
}
40%,to{
transform:rotate(0deg)
}
}
@-webkit-keyframes fa-spin{
0%{
transform:rotate(0deg)
}
to{
transform:rotate(1turn)
}
}
@keyframes fa-spin{
0%{
transform:rotate(0deg)
}
to{
transform:rotate(1turn)
}
}
.fa-rotate-90{
transform:rotate(90deg)
}
.fa-rotate-180{
transform:rotate(180deg)
}
.fa-rotate-270{
transform:rotate(270deg)
}
.fa-flip-horizontal{
transform:scaleX(-1)
}
.fa-flip-vertical{
transform:scaleY(-1)
}
.fa-flip-both,.fa-flip-horizontal.fa-flip-vertical{
transform:scale(-1)
}
.fa-rotate-by{
transform:rotate(none);
transform:rotate(var(--fa-rotate-angle,none))
}
.fa-stack{
display:inline-block;
vertical-align:middle;
height:2em;
position:relative;
width:2.5em
}
.fa-stack-1x,.fa-stack-2x{
bottom:0;
left:0;
margin:auto;
position:absolute;
right:0;
top:0;
z-index:auto;
z-index:var(--fa-stack-z-index,auto)
}
.svg-inline--fa.fa-stack-1x{
height:1em;
width:1.25em
}
.svg-inline--fa.fa-stack-2x{
height:2em;
width:2.5em
}
.fa-inverse{
color:#fff;
color:var(--fa-inverse,#fff)
}
.fa-sr-only,.fa-sr-only-focusable:not(:focus),.sr-only,.sr-only-focusable:not(:focus){
position:absolute;
width:1px;
height:1px;
padding:0;
margin:-1px;
overflow:hidden;
clip:rect(0,0,0,0);
white-space:nowrap;
border-width:0
}
.svg-inline--fa .fa-primary{
fill:currentColor;
fill:var(--fa-primary-color,currentColor);
opacity:1;
opacity:var(--fa-primary-opacity,1)
}
.svg-inline--fa .fa-secondary{
fill:currentColor;
fill:var(--fa-secondary-color,currentColor)
}
.svg-inline--fa .fa-secondary,.svg-inline--fa.fa-swap-opacity .fa-primary{
opacity:.4;
opacity:var(--fa-secondary-opacity,.4)
}
.svg-inline--fa.fa-swap-opacity .fa-secondary{
opacity:1;
opacity:var(--fa-primary-opacity,1)
}
.svg-inline--fa mask .fa-primary,.svg-inline--fa mask .fa-secondary{
fill:#000
}
.fa-duotone.fa-inverse,.fad.fa-inverse{
color:#fff;
color:var(--fa-inverse,#fff)
}


.nuxt-progress{
position:fixed;
top:0;
left:0;
right:0;
height:2px;
width:0;
opacity:1;
transition:width .1s,opacity .4s;
background-color:#000;
z-index:999999
}
.nuxt-progress.nuxt-progress-notransition{
transition:none
}
.nuxt-progress-failed{
background-color:red
}

#skills {
    position: relative;
  }
  
.skillbar {
    position: relative;
}